[Unit]
The service for the python influx rest api

[Service]
TimeoutStartSec=1
ExecStart=/home/kelso/Documents/python/detectorAutomation/REST/rest.py
User=kelso
Group=kelso
StandardOutput=null

[Install]
WantedBy=multi-user.target